@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
	width: 100vw;
	height: 100vh;
	font-family: Lato;
}

.container {
	max-width: 1400px;
	height: 100%;
	display: flex;
	margin: auto;
	padding: 15px 5px 15px 5px;
	border-radius: 5px;
}

.main-content {
	width: 100%;
	display: flex;
	background-image: url(/img/back.png);
	background-size: cover;
	border-radius: inherit;
}
