/* ================= Основное меню ================= */

.main-menu {
	max-width: 260px;
	/* height: 100%; */
	background-color: #25272a;
	color: white;
	opacity: 0.8;
	display: flex;
	font-size: 13px;
}

.main-menu-container {
	display: flex;
	flex-direction: column;
	padding: 35px 24px 0px 25.5px;
}

.main-menu-title {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.main-menu-title img {
	object-fit: contain;
	margin-left: 78.5px;
	cursor: pointer;
}

.main-menu-title select {
	border: none;
	appearance: none;
	background: none;
	color: white;
}

.main-menu-container .all-treads {
	font-size: 12px;
	color: #b5b5b5;
	margin-top: 31.5px;
	display: flex;
	cursor: pointer;
}

.main-menu-container .all-treads img {
	margin-right: 11px;
}

.main-menu-channels {
	display: flex;
	flex-direction: column;
	color: #b5b5b5;
}

.main-menu-channels-title {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-bottom: 11px;
	margin-top: 31.5px;
}

.main-menu-channels-menu {
	max-height: 314px;
	margin-bottom: 18px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.main-menu-channels-menu::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}

/* Ползунок скроллбара */
.main-menu-channels-menu:hover::-webkit-scrollbar-thumb {
	background-color: #4d4f52;
	width: 5px;
	height: 50px;
	border-radius: 5px;
}

.channel {
	padding: 4px 0px 9px 13px;
}

.channel:hover {
	background-color: #4d4f52;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 5px;
}

.main-menu-friends {
	/* max-height: 370px; */
	display: flex;
	flex-direction: column;
	color: #b5b5b5;
}

.main-menu-friends-title {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 11px;
	margin-top: 17.5px;
}

.main-menu-friends-menu {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

@media (max-height: 900px) {
	.main-menu-friends-menu {
		max-height: 184px;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}

@media (max-height: 770px) {
	.main-menu-friends-menu {
		max-height: 92px;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}

.main-menu-friends-menu::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}

/* Ползунок скроллбара */
.main-menu-friends-menu:hover::-webkit-scrollbar-thumb {
	background-color: #4d4f52;
	width: 5px;
	height: 50px;
	border-radius: 5px;
}

.friend {
	display: flex;
	align-items: center;
	padding: 4px 0px 10px 0px;
}

.friend-status {
	padding-right: 6px;
}

.friend-photo {
	padding-right: 11.5px;
}

.friend:hover {
	background-color: #4d4f52;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 5px;
}
